<!--  
<p>Nombre del proyecto: {{ proyecto.nombre }}.</p>
<p>Descripcion {{ proyecto.descripcion }}.</p>  
<p>Duracion_Estimada {{ proyecto.duracion_Estimada }}.</p>  
<p>Fecha_Inicio {{ proyecto.fecha_Inicio }}.</p>
<p>Fecha_Finalizacion {{ proyecto.fecha_Finalizacion }}.</p>

  -->

<!-- proyecto.nombre|length: obtenemos la longitud del registro nombre -->
{% if proyecto.nombre|length < 50 %}
  <!-- |length se usa para tomar la longitud del atributo -->
  <p>Nombre del proyecto: {{ proyecto.nombre|slice:":5" }}</p>
  <p>Longitud de nombre del proyecto: {{ proyecto.nombre|length }}</p>
  <p>Descripción: {{ proyecto.descripcion }}</p>
  <p>Duración Estimada: {{ proyecto.duracion_Estimada|floatformat:3 }}</p>
  <p>Duración Estimada con incremento a 1: {{ proyecto.duracion_Estimada|add:"1" }}</p>
  <p>Fecha de Inicio: {{ proyecto.fecha_Inicio }}</p>
  <p>Fecha de Finalización: {{ proyecto.fecha_Finalizacion|date:"d-m-Y" }}</p>


{% else %}
  <p>Este proyecto no cumple con la longitud de nombre requerida: {{ proyecto.nombre|upper }}</p>
  <hr />
{% endif %}

{% for usuario in proyecto.usuario.all %}
  <p>Nombre usuario: {{ usuario.nombre }}.</p>
{% endfor %}

<hr />
