{% extends 'principal.html' %} <!-- hereda de principal.html -->

{% block contenido %}
  <h1>Proyecto</h1>

  {% for proyecto in mostrar_Proyecto %}
    <!--
    _proyecto.html: creamos este html comenzando con _ para indicar 
    que el archivo está diseñado para ser parcial o inclusión en otros archivos

    with proyecto= proyecto: pasa la variable proyecto de esta plantilla al archivo _proyecto.html, para que lo puedas usar allí".
    -->
    {% include 'Proyecto/_proyecto.html'%}
  {% endfor %}
{% endblock %}
