<html>
    <head>Principal</head>
<body>
{% comment %}


{% endcomment %}

<h1>Gestion de tareas</h1>

<ul>
    <li><a href="{% url 'mostrar_Proyecto' %}">Proyectos</a></li>
</ul>

<ul>
    {% comment %}url: llamas a la vista{% endcomment %}
    <li><a href="{% url 'tareas_Proyecto' %}">Tareas con proyecto</a></li>
</ul>

<ul>
    {% comment %}url: llamas a la vista{% endcomment %}
    <li><a href="{% url 'usuario_Tarea' %}">Usuario con tarea</a></li>
</ul>

    
<ul>
    <li><a href="{% url 'tareas_Observaciones_Usuarios' 'Party' %}">tareas_Observaciones_Usuarios</a></li>
</ul>

<ul>
    <li><a href="{% url 'tareas_Entre_DosAnios_Completada' '2004' '2012' 'Completada' %}">Tarea completada entre dos años</a></li>
</ul>
 

</body>
</html>