<!DOCTYPE html>
<html lang="en">
  {% load static %} <!--ESTA ETIQUETA SIEMPRE TIENE QUE CARGARSE-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/pie.css' %}">

  </head>
  <body>
    <img src="{% static 'imagenes/logo_Biblioteca.webp' %}" alt="Imagen de Django" />


    <!-- Include: añade la plantilla menu -->
    {% include 'Estructura/menu.html' %}

    {% block contenido %}
      <!-- El contenido específico de cada página va aquí -->
      <p>contenidos</p>
    {% endblock %}

    <!-- Include: añade la plantilla del pie -->
    {% include 'Estructura/pie.html' %}
  </body>
</html>
