<html>
    <head>Principal</head>
<body>
{% comment %}
Completada= models.BooleanField()
Fecha_Creación= models.DateField()
hora_Vencimiento= models.TimeField()

{% endcomment %}

<h1> Tarea Proyecto</h1>

    {% for tarea in tareas_Proyecto %}
        <p>Titulo de Tarea: {{ tarea.Titulo }}.</p>
        <p>Descripcion: {{ tarea.Descripcion }}.</p>
        <p>Prioridad: {{ tarea.Prioridad }}.</p>
        <p>Estado: {{ tarea.get_estado_display }}.</p>
        <p>Completada: {{ tarea.Completada }}.</p>
        <p>Fecha_Creación: {{ tarea.Fecha_Creación }}.</p>
        <p>Hora_Vencimiento: {{ tarea.hora_Vencimiento }}.</p>
        <p>Nombre proyecto: {{ tarea.proyecto.Nombre }}.</p>
        <hr>

    {% endfor %}

</body>
</html>