<html>
    <head>Principal</head>
<body>
{% comment %}
Completada= models.BooleanField()
Fecha_Creación= models.DateField()
hora_Vencimiento= models.TimeField()

{% endcomment %}

<h1> Tarea Proyecto</h1>

    {% for tarea in tareas_Proyecto %}
        <p>Titulo de Tarea: {{ tarea.titulo }}.</p>
        <p>Descripcion: {{ tarea.descripcion }}.</p>
        <p>Prioridad: {{ tarea.prioridad }}.</p>
        <p>Estado: {{ tarea.get_estado_display }}.</p>
        <p>Completada: {{ tarea.completada }}.</p>
        <p>Fecha_Creación: {{ tarea.fecha_Creacion }}.</p>
        <p>Hora_Vencimiento: {{ tarea.hora_Vencimiento }}.</p>
        <p>Nombre proyecto: {{ tarea.proyecto.nombre }}.</p>
        <hr>

    {% endfor %}

</body>
</html>