{% extends 'principal.html' %} <!-- hereda de principal.html -->

{% comment %}Completada= models.BooleanField() Fecha_Creación= models.DateField() hora_Vencimiento= models.TimeField(){% endcomment %}

{% block contenido %}
  <h1>tareas Observaciones Usuarios</h1>

  {% for ob in tareas_Observaciones_Usuarios %}
  {% include 'TareasObservacionesUsuarios/contenido_tareasObservacionesUsuarios.html'%}

  {% empty %}
    <li>No hay proyectos disponibles en este momento.</li>
  {% endfor %}
{% endblock %}
