{% extends 'principal.html' %} <!-- hereda de principal.html -->

{% block contenido %}
  <h1>Todos Comentario Tarea</h1>

  {% comment %} <h1>Comentarios que comienzan con "{{ palabra }}" y son del año {{ anio }}</h1>
  <strong>{{ comentario.usuario.nombre }}:</strong> {{ comentario.contenido }} <br />

  {% endcomment %}

  <ul>
    {% for comentario in comentarios_tarea_Palabra_Anio %}
      {% include 'TodosComentarioTarea/contenido_todosComentarioTarea.html' %}
    {% endfor %}
  </ul>
{% endblock %}
